/*
Practica reto2 fcc
*/

/* Así inserto una fuente llamandola desde una url */
@import url(https://fonts.googleapis.com/css?family=Inter);


body {
    background-color: #FBE3EE;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

main section {
    width: 50%;
    height: 100%;
}

#inscription {
    background-color: #E0A4B9;
    display: flex;
    justify-content: center;
}


.formulario {
    width: 400px;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%
}

label {
    text-align: left;
    font-size: 20px;
    color: #9E5E74;
    font-family: inter;
}

.controls {
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #FBE3EE;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #FBE3EE;
}

.buttons {
    width: 85%;
    margin-bottom: 15px;
    border: 1px solid #FCFF81;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #FCFF81;
    color: #9E5E74;
    font-size: 15px;

}

.buttons:hover {
    cursor: pointer;
    box-shadow: #9E5E74;
    border: #9E5E74;
}


#theme {
    border: none;
    margin-bottom: 15px;
    font-size: 15px;
    color: #9E5E74;
}

h1 {
    font-size: 36px;
    color: #9E5E74;
    margin: 0;
    font-family: inter;
}

#banner {
    background-image: url(./img/lazo\ rosa.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 250px;
}

.circulo {
    width: 55px;
    height: 55px;
    background-color: #FCFF81;
    border-radius: 50px;
    display: flex;
}

.figuras {
    padding: 5px;
    display: flex;
}

.rectangulo {
    width: 55%;
    height: auto;
    background-color: #FCFF81;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.figure {
    width: 50%;
    height: 60px;
    background-color: #FCFF81;
    border-radius: 10px;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-family: inter;
    color: #9E5E74;
}

.figure h2 {
    font-family: inter;
    color: #9E5E74;
    font-size: 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 36px;
    color: #9E5E74;
    margin: 0;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}

.titulo p {
    width: 60%;
    height: auto;
    justify-content: center;
    align-content: center;
    display: flex;
    text-align: center;
}