/*
Practica reto2 fcc
*/

/* Así inserto una fuente llamandola desde una url */
@import url(https://fonts.googleapis.com/css?family=Inter);

*{
    
}

body {
    background-color: #FBE3EE;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

main section {
    width: 50%;
    height: 100%;
}

#inscription {
    background-color: #E0A4B9;
    display: flex;
    justify-content: center;
}

#banner {
    background-color: #ececec;
}

.formulario {
    width: 400px;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90%
}

label {
    text-align:left ;
    font-size: 24px;
    color: #9E5E74;
    
}

.controls{
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #FBE3EE;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #FBE3EE;
}

.buttons {
    width: 85%;
    margin-bottom: 15px;
    border: 1px solid #FCFF81;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #FCFF81;
}

.buttons:hover {
    cursor: pointer;
}
